#small-icon {
    width: 20px;
    margin-bottom: 5px;

}

#mainCity {
    display: flex;    
    align-items: center;  
    

}

.weather-header {
    font-size: 2rem;
    color:white;
    text-align: center;
}

#searchCity {
    width: 100px;
    margin-bottom: 10px;
}